---
import { getCollection } from 'astro:content'
import Layout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = await getCollection('posts')
---

<Layout pageTitle="My Astro Learning Blog">
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</Layout>
